<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page Template for Bootstrap</title>
    <a name="home"></a> 

    <!-- Bootstrap core CSS -->
    <link href="{{site.url}}/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="{{site.url}}/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <link href="{{site.url}}/css/landing-page.css" rel="stylesheet">

</head>

<body>
{% for meta in site.data.taylorbaylescomMetaData %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://startbootstrap.com"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#home">{{meta.tab1}}</a>
                    </li>
                    <li><a href="#experience">{{meta.tab2}}</a>
                    </li>
                    <li><a href="#projects">{{meta.tab3}}</a>
                    </li>
                    <li><a href="#contact">{{meta.tab4}}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                  
                    <div class="intro-message">
                        <h1>Taylor Bayles</h1>
                        <h3>Vanderbilt '14</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            {% if meta.github == blank %}
                            <li><a href="{{meta.github}}" class="btn btn-default btn-lg"><span class="network-name">Github</span></a>
                            </li>
                            {% endif %}
                            {% unless meta.resume == blank %}
                            <li><a href="{{meta.resume}}" class="btn btn-default btn-lg"> <span class="network-name">Resume</span></a>
                            </li>
                            {% endunless %}
                            {% unless meta.email == blank %}
                            <li><a href="mailto:{{meta.email}}" class="btn btn-default btn-lg"><span class="network-name">Email</span></a>
                            </li>
                            {% endunless %}
                            {% unless meta.linkedin == blank %}
                            <li><a href="{{meta.linkedin}}" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                            {% endunless %}
                        </ul>
                    </div>
                    
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
<a name="experience"></a> 
{% for experience in site.data.taylorbaylescomExperiences %}
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{experience.companyName}}
<br/><small>{{experience.position}}</small>   </h2>
                    <p class="lead">                        
{{experience.description}}
</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{{site.url}}/img/{{experience.photo}}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    {% endfor %}
    <!-- /.content-section-a -->

                        <p class="copyright text-muted small">Copyright &copy; Recsy 2014. All Rights Reserved</p>
    </footer>

    <!-- JavaScript -->
    <script src="{{site.url}}/js/jquery-1.10.2.js"></script>
    <script src="{{site.url}}/js/bootstrap.js"></script>
{% endfor %}
</body>

</html>
